html, button, input, select, textarea {
	color: #222;
}
body {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 1em;
	line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
 background: #f2c2c9;
 color: #a4003a;
 text-shadow: none;
}
::selection {
	background: #16a085;
	color: #a4003a;
	text-shadow: none;
}
/*
 * A better looking default horizontal rule
 */

hr {
	display: block;
	height: 3px;
	border: 0;
	margin: 3em 0;
	padding: 0;
	background-image: -webkit-linear-gradient(left, #fff, #e6e6e6, #fff);
	background-image: -moz-linear-gradient(left, #fff, #e6e6e6, #fff);
	background-image: -ms-linear-gradient(left, #fff, #e6e6e6, #fff);
	background-image: -o-linear-gradient(left, #fff, #e6e6e6, #fff);
	width: 50%;
	left: 25%;
	position: relative;
	border: none;
}

img {
	vertical-align: middle;
}
/*
 * Allow only vertical resizing of textareas.
 */

textarea {
	resize: vertical;
}
/* ==========================================================================
   General styles
   ========================================================================== */

html, body {
	height: 100%;
}
body {
  	/*font-family: "Lato", Helvetica, Arial, sans-serif;*/
	font-weight: 300;
	font-size: 16px;
	color: #555;
	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;
}
.col-md-4 {
	padding-bottom: 30px;
}
.row {
	margin-right: 0px;
	margin-left: -15px;
}
.modal-header {
	background: #34b1c4;
}
.modal-header h4 {
	color: white;
	font-weight: 700;
	letter-spacing: 1px;
}
.modal-footer {
	background: #34b1c4;
}
#jkly-page {
  background-image: url(/images/bg.jpg);
  position: relative;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  background-color: #fff;
}
.offcanvas #jkly-page {
  overflow: hidden;
  position: absolute;
}
.offcanvas #jkly-page:after {
  -webkit-transition: 2s;
  -o-transition: 2s;
  transition: 2s;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 101;
  background: rgba(0, 0, 0, 0.7);
  content: "";
}
#jkly-logo {
  font-family: "Roboto Mono", serif;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;
  color:#38b5c9;
}
@media screen and (max-width: 768px) {
	#jkly-logo {
    margin-bottom: 0;
  }
}
#jkly-logo  > span {
  color: #F73859;
}

.jkly-dropdown {
  font-family: "Roboto Mono", serif;
  width: 130px;
  -webkit-box-shadow: 0px 8px 13px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 8px 13px -9px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 8px 13px -9px rgba(0, 0, 0, 0.75);
  z-index: 1002;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 50px;
  left:0px;
  text-align: left;
  background: #999;
  padding: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 10px;
  -webkit-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
  padding-color:#333;
}
<!--   -->
#jkly-nav ul li.dropdown .jkly-dropdown:before {
  bottom: 100%;
  left: 40px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #999;
  border-width: 8px;
  margin-left: -8px;
}

#jkly-nav ul li.dropdown .jkly-dropdown a{
	border-radius: 10px;
color:#fff;
background-color:#999;
}
#jkly-nav ul li.dropdown .jkly-dropdown a:hover{
color:#333;
background-color:#fff;

}
<!--   -->
.navbar-default .navbar-nav > li > a {
  color: #333;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #38b5c9;
  background-color: #fff;
  
  
}
.navbar-default {
	background-color: #fff;
	padding: 12px 0;
	box-shadow: 0 0 3px #ccc;
	font-weight: 500;
}
.navbar-default .navbar-brand {
	font-weight: 700;
	font-size: 26px;
	color: #666;
}
.navbar-brand .fa {
	color: #38b5c9;
}
.navbar-toggle {
	border-color: transparent;
	border: 0px solid transparent;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #38b5c9;	
}
a img {
	background: white;
}
.odd a img {
	background: #f5f5f5;
}
/* Titles */
h1, h2, h3, h4, h5, h6 {
	font-weight: 200;
	color: #555;
}
h2 {
	font-size: 34px;
	color: #666;
	font-weight: 500;
}
h3 {
	font-size: 24px;
	font-weight: 500;
}
/* Paragraph & Typographic */
p {
	line-height: 26px;
	margin-bottom: 20px;
}
p.large {
	font-size: 18px;
	margin-bottom: 50px;
}
.centered {
	text-align: center;
}
strong {
	font-weight: 700;
}
em {
	font-weight: 300;
}
pre {
	background: #ebebeb;
	border: none;
	font-family: "Monaco";
	font-size: 16px;
	color: #666;
	padding: 20px;
	line-height: 28px;
}
small {
	font-size: 12px;
}
blockquote, blockquote p {
	line-height: 28px;
	color: #999;
	font-weight: 300;
	font-style: italic;
}
blockquote {
	position: relative;
	margin: 0 0 40px -30px;
	padding-left: 30px;
	border-left: 5px solid #3498db;
}
blockquote cite {
	position: absolute;
	bottom: -25px;
	right: 0;
	font-size: 12px;
	font-style: italic;
	color: #333;
	font-weight: 300;
}
blockquote cite:before {
	content: "-- "
}
/* Images */
.overflow-image {
	margin-top: -65px;
}
/* Links */
a {
	color: #4abcc5;
	word-wrap: break-word;
	-webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
	-moz-transition: color 0.1s ease-in, background 0.1s ease-in;
	-ms-transition: color 0.1s ease-in, background 0.1s ease-in;
	-o-transition: color 0.1s ease-in, background 0.1s ease-in;
	transition: color 0.1s ease-in, background 0.1s ease-in;
}
a:hover, a:focus {
	color: #c0392b;
	text-decoration: none;
	outline: 0;
}
a:before, a:after {
	-webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
	-moz-transition: color 0.1s ease-in, background 0.1s ease-in;
	-ms-transition: color 0.1s ease-in, background 0.1s ease-in;
	-o-transition: color 0.1s ease-in, background 0.1s ease-in;
	transition: color 0.1s ease-in, background 0.1s ease-in;
}
/* ==========================================================================
   Wrap Sections
   ========================================================================== */
#jkly-main{
	background-image:url(/images/img_1.jpg);
	
}
#jkly-header{

	/*padding-top: 200px;
	min-height: 650px;
	width: 100%;
	background-size: 100%;
	background-size: cover;
	margin-top: 70px;
	margin-bottom:91px;*/
	padding: 7em 0;
    clear: both;
	width: 100%;
    float: left;
}
@media screen and (max-width:768px){
	#jkly-header{
		padding-top:50px;
		margin-bottom:0px;
	}
	
}
#home-content{
	display:none;
	position:fixed;
	height:100%;
	background-color: rgba(45, 58, 75, 0.5);
    padding:0px;
    margin: 0px;
	top:75px;
	
	
}
#gtco-post-list {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  position: relative;
  float: left;
  padding: 0;
  margin: 0;
  width: 100%;
  margin-left: -2%;
}
@media screen and (max-width: 768px) {
  #gtco-post-list {
    margin-left: 0% !important;
  }
}
#gtco-post-list  li {
  display: block;
  padding: 0;
  margin: 0 0 20px 2%;
  list-style: none;
  min-height: 400px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  float: left;
  clear: left;
  position: relative;
  background: /*rgba(0,0,0,.075)*/ url(/images/blog/templatmeo_main_top.png)  top;;
}
@media screen and (max-width: 768px) {
  #gtco-post-list li {
    margin-left: 0;
  }
}
#gtco-post-list li .post-meta {
  position: absolute;
  bottom: 30px;
  display: block;
  padding: 0 30px;
}
#gtco-post-list li .post-meta .date-posted {
  margin-left: 10px;
}
#gtco-post-list li.two-third {
  width: 64.6%;
}
@media screen and (max-width: 992px) {
  #gtco-post-list li.two-third {
    width: 48%;
  }
}
@media screen and (max-width: 768px) {
  #gtco-post-list li.two-third {
    width: 100%;
  }
}
#gtco-post-list li.one-third {
  width: 31.3%;
}
@media screen and (max-width: 992px) {
  #gtco-post-list li.one-third {
    width: 48%;
  }
}
@media screen and (max-width: 768px) {
  #gtco-post-list li.one-third {
    width: 100%;
  }
}
#gtco-post-list li.one-half {
  width: 48%;
}
#gtco-post-list  li a{
	color: #4abcc5;
}
#gtco-post-list  li a:hover{
	color: #00ff37;
}
.row-pb-md {
  padding-bottom: 4em !important;
}
.entry {
  display: block;
  overflow: hidden;
  clear: both;
  position: relative;
  float: left;
  width: 100%;
}
.entry.one-half {
  width: 50%;
  margin-right: 20px;
}
.entry.one-half:last-child {
  margin-right: 0;
}
.entry h3 {
  font-size: 30px !important;
  line-height: 1.2;
}
.entry .entry-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  min-height: 340px;
}
.entry .entry-desc {
	min-height:360px;
  padding: 30px;
  margin-bottom: 40px;
}
.entry p {
  color: #1a1a1a;
  line-height: 1.9;
}
   
#gtco-footer {
  margin-top:;
  padding:3em 0;
  clear: both;
}
#gtco-footer {
  background: #4F5456;
}
#gtco-footer h3 {
  color: #fff;
}
#gtco-footer .footer-heading {
  margin-bottom: 50px;
}
#gtco-footer .post-meta {
  position: relative !important;
  display: block;
  padding: 0;
  float: left;
  color: rgba(255, 255, 255, 0.3);
}
#gtco-footer .post-meta .date-posted {
  margin-left: 0px;
}
#gtco-footer .footer-logo {
  font-family: "Roboto Mono", serif;
}
.dot-color{
	color: #F73859;
	
}
#gtco-footer .gtco-footer-links {
  padding: 0;
  margin: 0;
}
#gtco-footer .gtco-footer-links li {
  padding: 0;
  margin: 0;
  list-style: none;
}
#gtco-footer .gtco-footer-links li a {
  color: #fff;
  text-decoration: none;
}
#gtco-footer .gtco-footer-links li a:hover {
  text-decoration: underline;
}
#gtco-footer .gtco-widget {
  margin-bottom: 30px;
}
@media screen and (max-width: 768px) {
  #gtco-footer .gtco-widget {
    text-align: left;
  }
}
#gtco-footer .gtco-widget h3 {
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
}
#gtco-footer .copyright {
  /*margin-top: 50px;*/
}
#gtco-footer .copyright .block {
	color:#EEE;
  display: block;
}
post-entry > .post-entry,
.post-entry > .post-img {
  vertical-align: top;
}
.post-entry > .post-img {
  display: table-cell;
  width: 100px;
}
.post-entry > .post-img a {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.post-entry > .post-img a img {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.post-entry > .post-img a:hover img {
  opacity: .8;
}
.post-entry > .post-copy {
  padding-left: 20px;
  display: table-cell;
}
.post-entry > .post-copy h4 {
  color: #fff;
  font-size: 20px;
}
.post-entry > .post-copy h4 a {
  color: #fff;
}

/**
	博客css

*/
.post_box {
        clear: both;
        padding-bottom: 30px;
        margin-bottom: 30px;
        border-bottom: 1px dashed #363636;
    }

    .pb_last { margin: 0; padding: 0; border: none; }

    .post_box .header {
        position: relative;
        margin-bottom: 10px;
    }

    .header a { color: #FFFFFF; font-weight: normal; text-decoration: none; }
    .header a:hover { color: #999999; }

    .header .tag { font-size: 11px; color: #999999; }
    .header .tag a { font-size: 11px; color: #666666; }
    .header .tag a:hover { color: #CCCCCC; }

    .header h2 {
        width: 90%; margin: 0; padding: 5px 0; }
    .header .posted_date { position: absolute; font-size: 11px; color: #2b2b2b; top: 0; right: 0; width: 45px; height: 45px; padding: 8px 3px 0 0; text-align: center; background:url(/images/blog/templatemo_date.jpg) no-repeat;
    }
    .header .posted_date strong { display: block; margin-top: 5px; }

    .post_box img { width: 108px; height: 108px; border: 5px solid #fff; float: left; margin-right: 30px; }
    .post_box .pb_right { }
    .post_box .comment a { display: block; margin-top: 15px; background: url(/images/blog/templatemo_comment.jpg) no-repeat bottom left; padding: 3px 0 0 25px; }
    .cleaner { clear: both; width: 100%; height: 0px; font-size: 0px;  }

	.sidebar_box{
		background:url(/images/blog/templatemo_sidebox.jpg) no-repeat left top;
		
	}
    .sidebar_box .sb_content {
        padding: 20px;
    }
	.sidebar_box h3{
		color: #000;
		font-weight: normal;
		font-style: italic;
		height:50px;
		padding:20px 0 0 50px;
	}
    {{--侧边栏分类css--}}
    .sidebar_menu { margin: 0; padding: 0; list-style: none; }
    .sidebar_menu li { margin: 0 0 5px 0 !important; padding: 3px 0!important; border-bottom: 1px solid #303030;min-height: 0px!important;float:none!important;background: !important;}
    .sidebar_menu li a { text-decoration: none; font-size: 11px; font-weight: normal; background: url(/images/blog/blog_sidebar.png) no-repeat top left; display: block; padding-left: 20px;}
    .sidebar_menu li a span { color: #f00; }
	
	/**
		//开始导入鼠标悬停显示隐藏的图片的css样式
			
	*/
.grid figure {
	margin: 0;
	position: relative;
	border: 1px solid #ddd;
}
/*.grid figure img {
	width: 100%;
	display: block;
	position: relative;
	
}*/
.grid figcaption {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	color: #fff;
	background-color: #34b1c4;
}
.grid figcaption h5 {
	margin: 0;
	padding-top: 0px;
	padding-left: 20px;
	padding-bottom: 5px;
	color: #fff;
	font-weight: 700;
	text-align: left;
	letter-spacing: 1px;
}
/*
.grid figcaption a {
	text-align: left;
	padding: 5px 10px;
	margin-left: 20px;
	display: inline-block;
	background: #2f2f2f;
	color: #fff;
	font-size: 13px;
}*/
/* Caption Style */
.mask figure {
	padding:10px;
	overflow: hidden;
}
.mask figure img {
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
	transition: transform 0.4s;
	transition: transform 0.4s;
}
/**
.no-touch .mask figure:hover img, .mask figure.cs-hover img {
	-webkit-transform: translateY(-30px);
	-moz-transform: translateY(-30px);
	-ms-transform: translateY(-30px);
	transform: translateY(-30px);
}
*/
.mask figcaption {
	height: 50px;
	width: 100%;
	top: auto;
	bottom: 0;
	opacity: 0;
	-webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
	-ms-transform: translateY(100%);
	transform: translateY(100%);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
	transition: transform 0.4s, opacity 0.1s 0.3s;
}
.no-touch .mask figure:hover figcaption, .mask figure.cs-hover figcaption {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s;
	transition: transform 0.4s, opacity 0.1s;
}
.mask figcaption a {
	position: absolute;
	top: 10px;
	bottom: 10px;
	right: 30px;
}


/**
	分页代码开始
*/
	/*css green-black style pagination*/
div.green-black{padding:3px;margin:3px;text-align:center;}
div.green-black a{border:#2c2c2c 1px solid;padding:8px 10px;background:url(/images/blog/image1.gif) #2c2c2c;color:#fff;margin:0 2px 0 0;text-decoration:none;}
div.green-black a:hover{border:#aad83e 1px solid;background:url(/images/blog/image2.gif) #aad83e;color:#fff;}
div.green-black a:active{border:#aad83e 1px solid;background:url(/images/blog/image2.gif) #aad83e;color:#fff;}
div.green-black span.current{border:#aad83e 1px solid;padding:8px 15px;font-weight:bold;background:url(/images/blog/image2.gif) #aad83e;color:#fff;margin:0 2px 0 0;}
div.green-black span.disabled{border:#777 1px solid;padding:8px 10px;color:#333;margin:0 2px 0 0;}
#jump{
	width:30px;
	height:35px;
}
/**
	分页代码结束

*/
	
	

/**
	博客css结束
*/









@media screen and (max-width: 768px) {
  #gtco-post-list li.one-half {
    width: 100%;
  }
  #gtco-footer {
    padding: 3em 0;
  }
}