@charset "utf-8";
/* CSS Document */

.accordion-wrapper {
	width:100% !important;
	overflow: hidden;
    display: block;
    position: relative;
    display: inline-block;
    height: 400px !important;
}
.slide {
    overflow: hidden;
    display: block;
    -moz-box-shadow: -5px 0px 5px rgba(1, 1, 1, 0.3);
    -webkit-box-shadow: -5px 0px 5px rgba(1, 1, 1, 0.3);
    box-shadow: -5px 0px 5px rgba(1, 1, 1, 0.3);
    position: absolute;
    cursor: pointer;
    float: left;
    display: inline-block;
    zoom: 1;
    height: 480px !important;
}
.slide img {
	position:relative;
}
/*@media(min-width:700px){
	.accordion-wrapper {
		width: 100% !important;
}

@media(max-width:414px){
	.accordion-wrapper {
		width: 100% !important;
		height: 330px !important;
	}
}
@media(max-width:375px){
	.accordion-wrapper {
		height: 325px !important;
		width: 100% !important;
	}
}
@media(max-width:320px){
	.accordion-wrapper {
		height: 307px !important;
		width: 100% !important;
	}
}*/